@model Auctions_Portal.Models.BiddingViewModel

@{
    ViewBag.Title = "Bidding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* megjeleníthetünk üzeneteket *@

@if (ViewBag.Error != null)
{
    <div class="failureNotification">@ViewBag.Error</div>
}

<h2>Ajánlattétel</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="contentBody">
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td colspan="2">
                        <div class="failureNotification">@ViewBag.Information</div>
                        <div class="failureNotification">@Html.ValidationSummary(true, "Az ajánlattétel sikertelen!")</div>
                    </td>
                </tr>
                <tr>
                    <td width="120">
                        <table>
                            <tr>
                                <td valign="middle" height="24">
                                    Ajánlott összeg:
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="480">
                        <table width="480">
                            <tr>
                                <td>
                                    @Html.EditorFor(b => b.Amount, new { size = "60" })
                                    @Html.ValidationMessageFor(b => b.Amount)
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="submit" value="Ajánlat megtétele" class="button" />
                    </td>
                </tr>
            </table>
        }
    </div>
}
