@using Auctions_Portal.Models;

@model List<UserItemViewModel> 

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Felhasználó licitjei</h2>

@if (Model == null || Model.Count() == 0)
{
    <div class="contentText">Egyetlen tárgyra sem licitált még.</div>
}
else
{
    <table>
        @* felsoroljuk az ajálatokat (egy sorban kettőt) *@
        @for (Int32 i = 0; i < (Model.Count + 1) / 2; i++)
        {
            <tr>
                @for (Int32 j = i * 2; j < i * 2 + 2 && j < Model.Count; j++)
                {
                    <td>
                        <table border="0" width="300">
                            <tr class="biddingItem">
                                <td>
                                    <div class="biddingItemHead">
                                        @Html.ActionLink(Model[j].UserItem.Name, "Details", new { itemId = Model[j].UserItem.ItemId })
                                    </div>
                                    <div class="biddingItemContent">
                                        <strong>Tárgy: </strong>@Model[j].UserItem.Name<br />
                                        <strong>Hírdető: </strong>@Model[j].UserItem.Advetiser.Name<br />
                                        <strong>Leírás: </strong>@Model[j].UserItem.Description.Substring(0, Model[j].UserItem.Description.IndexOf(".") + 1) <br />@* a kommentnek csak az első mondatát írjuk ki *@
                                        <strong>Aktív: </strong> @if (@Model[j].Active) { <text>Igaz</text> } 
                                        else { <text>Hamis</text>}<br />
                                        <strong>Vezeti a licitet: </strong> @if (@Model[j].First)
                                        { <text>Vezeted</text> }
                                        else { <text>Nem vezeted</text>} <br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                }

            </tr>
        }
    </table>
}


