@using Auctions_Portal.Models;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Akuciós portál</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript">
        $(function () {
            Globalize.culture("@Culture"); @* megfelelő nyelvi környezet használata *@
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="headerText">
            <h1>
                Aukciós portál
            </h1>
        </div>
    </div>

    <div class="content">
        <div class="leftColumn">
            <h3>Keresés kategórák szerint</h3>
            @* amennyiben nincsenek megadva kategórák *@
            @if (ViewBag.Categories == null || ViewBag.Categories.Length == 0)
            {
                <span>Nincs aukció</span>
            }
            else
            {
                <ul>
                    @* felsoroljuk a kategórákat *@
                    @foreach (Catgory category in ViewBag.Categories)
                    {
                        <li>
                            @* létrehozunk egy linket minden katgórára az Index akcióra az azonosító paraméterrel *@
                            @Html.ActionLink(category.CatgoryName, "List", "Home", new { caegoryID = category.CagoryID }, new { })
                            @* a paramétert egy anonim típusban adjuk meg *@
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="rightColumn">
            @RenderBody()
            @* betöltjük a tényleges oldal törzsét *@
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - Minden jog fentartva</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>